/* Reset de estilos para remover margens e preenchimentos padrão */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;500&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

* {
    font-family: 'Prompt', sans-serif;
}

html,
body {
    height: 100%;
}

/* Estilo para o corpo */
body {
    font-family: 'Kanit', sans-serif;
    background-image: url(img/background.png);
    background-size: 100%;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo para o cabeçalho */
header {
    display: flex;
    grid-area: header;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    margin: 10px;
    padding: 0;
    justify-content: center;
}

/* Estilo para o logotipo */
#logo-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

#libertadores-logo {
    height: 13%;
    width: 13%;
    margin: 20px auto 0;
    display: block;
}

/* Estilos para os botões */
button {
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: larger;
}

/* Estilo para animação dos botões */
button:hover {
    background-color: #868686;
}

/* Estilos para os campos de entrada de número e texto */
input[type="number"],
input[type="text"] {
    border: 1px solid #030303;
    padding: 8px;
    border-radius: 5px;
    font-size: large;
    margin-bottom: 15px;
    width: 500px;
    height: 15px;
    text-align: center;
}

/* Estilo para campo de texto */
input[type="text"]::placeholder {
    text-align: center;
    /* Centraliza o texto do placeholder */
}

/* Estilos para os cabeçalhos de seção */
h2 {
    font-size: 24px;
    margin: 20px 0;
}

/* Estilos para os elementos escondidos */
.hidden {
    display: none;
}

/* Estilos para tabelas (partidasTable e pontuacaoTable) */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

/* Estilos para elementos das tabelas */
table,
th,
td {
    border: 5px solid #ffffff;
    color: black;
}

/* Estilos para elementos das tabelas */
th,
td {
    padding: 10px;
    text-align: center;
    color: #ffffff;
}


/* Estilos para o time vencedor */
.vencedor {
    background-color: #28a745;
    color: #fff;
}

/* Estilos para o resultado do time vencedor */
.vencedor-text {
    color: #28a745;
    text-align: center;
    margin: 0 auto;
}

/* Estilos para form dos torneios */
#torneioForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos para main */
main {
    display: flex;
    align-items: center;
}

.container {
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    /* Cor de fundo com 70% de opacidade */
    border: 2px solid rgba(0, 0, 0, 0.1);
    /* Borda com transparência */
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    /* Sombra com transparência */
    border-radius: 10px;
    margin-top: 10%;
}

/* Estilos para tabela de partidas */
#tabelas-container {
    max-width: 600px;
    /* Define a largura máxima do grupo de tabelas */
    margin: 0 auto;
    /* Centraliza o grupo de tabelas na tela */
    text-align: center;
    /* Centraliza o conteúdo dentro do grupo de tabelas */
    margin-bottom: 20px;
    /* Adiciona espaço entre as tabelas */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Estilos para botão de calcular */
#calcularPontuacaoBtn {
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: large;
    margin: 20px auto;
}

/* Estilos para animação do botão de calcular */
#calcularPontuacaoBtn:hover {
    background-color: #868686;
}

/* Estilos para div de calcular */
#calcular-container {
    display: flex;
    align-items: center;
}

/* Estilos para responsividade */
@media (max-width: 768px) {

    body {
        font-size: 14px;
    }

    #libertadores-logo {
        height: 150px;
        width: 150px;
    }

    #torneioForm {
        text-align: center;
    }

    input[type="number"],
    input[type="text"] {
        width: 100%;
        max-width: 100%;
        font-size: 3vw;
    }

    #button-container {
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    button {
        margin: 5px 0;
    }

    footer {
        font-size: 3vw;
    }

}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: #fff;
    text-decoration: none;
}

#button-container {
    display: flex;
}

#carregar {
    margin-left: 10px;
    /* Adicione margem à direita para separar os botões */
}

#partidas {
    width: 100%;
}
