/* Reset de estilos para remover margens e preenchimentos padrão */
html,
body,
div,
h1,
h2,
h3,
p,
ul,
li,
button,
input {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Define uma fonte padrão para o site */
body {
    font-family: 'Kanit', sans-serif;
    background-image: url(img/background-libertadores.png);
    background-size: 100%;
    color: #333;
    /* Cor de texto padrão */
    justify-content: center;
    align-items: center
}

/* Estilos para o cabeçalho */
header {
    background-color: #DDA21B;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

/* Estilos para os botões */
button {
    background-color: #DDA21B;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: large;
    display: inline-block;
}

button:hover {
    background-color: #FFC300;
}

/* Estilos para os campos de entrada de texto */
input[type="number"],
input[type="text"] {
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 5px;
    font-size: medium;
}

/* Estilos para os cabeçalhos de seção */
h2 {
    font-size: 24px;
    margin: 20px 0;
}

/* Estilos para os elementos escondidos */
.hidden {
    display: none;
}

/* Estilos para tabelas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table,
th,
td {
    border: 1px solid #ccc;
}

th,
td {
    padding: 10px;
    text-align: center;
}

/* Estilos para o botão "Calcular Pontuação" */
#calcularPontuacaoBtn {
    background-color: #DDA21B;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: large;
    margin-top: 20px;
}

#calcularPontuacaoBtn:hover {
    background-color: #FFC300;
}

/* Estilos para o time vencedor */
.vencedor {
    background-color: #28a745;
    /* Cor de fundo para o time vencedor */
    color: #fff;
}

/* Estilos para o resultado do time vencedor */
.vencedor-text {
    color: #28a745;
    /* Cor de texto para o resultado do time vencedor */
}

.container {
    text-align: center;
    display: flex;
    justify-content: center;
}
#torneioForm{
    color: white;
}
